.weatherInfo {
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 120px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  column-gap: 5%;
}

.weatherInfoItem {
  width: max-content;
}

.weatherInfoItemText {
  font-size: 19px;
  color: rgb(97, 94, 94);
  letter-spacing: 0.05rem;
}

.weatherInfoItemTextData {
  color: rgb(89, 85, 85);
  font-weight: 600;
}

@media (max-width: 487px) {
  .weatherInfoItemText {
    font-size: 17px;
    letter-spacing: 0.03rem;
  }
}

@media (max-width: 340px) {
  .weatherInfo {
    row-gap: 10px;
  }
}
